<div class="puzzle-board-card" *ngIf="puzzleBoard.height">
    <div class="puzzle-board word-cell-table">
        <table>
            <tbody>
                <tr *ngFor="let letterRow of puzzleBoard.letters; let r = index;">
                    <td *ngFor="let char of letterRow; let c = index" class="word-cell" [ngClass]="{
                    'word-cell-hint': hint[r][c],
                    'word-cell-selected': selected[r][c] }">
                        <a (click)="toggleWordSelected(r, c)">{{char}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="puzzle-board word-list">
        <mat-grid-list cols="{{puzzleBoard.wordListCols}}" rowHeight="1.6em">
            <mat-grid-tile *ngFor="let wordSol of puzzleBoard.displayedWordSolutions"
            class="word-list-item" [ngClass]="{ 'word-list-item-selected': wordSol.selected }">
                <a (click)="showHint(wordSol)" [ngClass]="{'word-selected': wordSol.selected }">{{wordSol.word}}</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
