app-game-state {
    margin: 0;
    padding: 0;
    width: 75%;
}

.app-main {
    display: grid;
    grid-template: 'list board board board board';
    grid-template-columns: repeat(5, 1fr);
}

.app-main app-puzzle-select {
    grid-area: list;
}


.app-main app-puzzleboard {
    grid-area: board;
}
